div {
    margin-left: 20px;
}

#search {
    border-radius: 15px;
    border-color: lightseagreen;
    border-style: solid;
    width: 110px;
    color: lightseagreen;
    background-color: rgb(231, 236, 238);
    margin-top: 20px;
    margin-bottom: 7px;
    font-size: 70%;
    font-weight: bold;
    padding: 3px;
}
#add {
    border-radius: 50%;
    border: 10px;
    border-color: lightseagreen;
    color: white;
    background-color: lightseagreen;
    width: 25px;
    height: 25px;

}

#new-account {
    color: rgb(231, 236, 238);
    background-color: dodgerblue;
    width: 130px;
    height: 25px;
    margin-top: 7px;
    box-shadow: 3px 3px 0px black;
    padding: 3px;
}